* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/background.png");
  background-size: cover; /* Makes the image cover the whole screen */
  background-repeat: no-repeat; /* Prevents repeating */
  background-position: center; /* Centers the image */
  margin: 0;
}

.container {
  height: 100vh;
}

.auth-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  position: relative;
}

.ticket-img {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 70px;
  transform: rotate(-15deg);
}

h3 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
  background: linear-gradient(to left, #191f30, #ca635a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 20px;
}

.form-control:focus {
  border-color: #c95a35;
  box-shadow: none;
}

.btn-auth {
  background: linear-gradient(to left, #3f4f7c, #ca635a);
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: 500;
}

.auth-text {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.auth-text a {
  color: #ca635a;
  text-decoration: none;
  font-weight: 500;
}

.auth-text a:hover {
  text-decoration: underline;
}

.input-error {
  border: 1px solid red;
}

.label-error {
  color: red;
}

.error-text {
  font-size: 13px;
  color: red;
  margin-top: 3px;   
  display: block;
}

.no-gap {
  margin-bottom: 4px; 
}